<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game Page</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>
<body>
    <div id="chat-container">
        <div id="chat-messages">
        </div>
        <form id="chat-form">
            <input type="text" name="message" id="chat-input" placeholder="Type a message..." autocomplete="off">
            <button type="submit" id="chat-send-button">Send</button>
        </form>
    </div>

    <script src="/scripts/game.js" type="module"></script>
</body>
</html>