<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Guest</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <form id="guest-login-form">
        <h1>Enter a nickname</h1>
        <input type="text" name="login" placeholder="Your nickname">
        <p style="visibility: hidden" class="error"></p>
        <input type="submit" id="submit-guest">
        <p id="return-to-registration"><a href="/registration">Return to registration</a></p>
    </form>

    <script src="/scripts/guest-login.js"></script>
</body>
</html>