<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="stylesheet" href="/css/style.css">
<body class="landing-page-body">
    <div class="container">
        <h1>Welcome to the Card Game!</h1>
        <p>Join us for an exciting card game experience!</p>
        <p>To get started, please login or register✨</p>
        <div class="btn-group">
            <a href="/login">Login</a>
            <a href="/registration">Register</a>
        </div>
    </div>
</body>
</html>