<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memetics</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Handjet:wght@100..900&display=swap" rel="stylesheet">
<body class="landing-page-body">
    <div class="container">
        <h1>Welcome to the Memetics!</h1>
        <p>Memetics is a fast-paced online card game where you battle using the most iconic meme cards! Manage your attack, defense, and mana, and outsmart your opponent with clever plays. Break through defenses in a game packed with humor, strategy, and unexpected meme moments. Only the wittiest meme master will claim victory!</p>
        <p>To get started, please login or register✨</p>
        <div class="btn-group">
            <a href="/login">Login</a>
            <a href="/registration">Register</a>
        </div>
    </div>
</body>
</html>