<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="lobby-page">
    <div class="container" id="lobby-container">
        <h2>Lobby</h2>
        <div class="lobby-section">
            <button id="create-room-button" style="margin-bottom: 20px;">Create Room</button>
            <div class="join-room">
                <label for="room-id">Join Room:</label>
                <input type="text" id="room-id" placeholder="Enter Room ID">
                <button id="join-room-button">Join</button>
            </div>
        </div>
        <p id="lobby-message" class="info"></p>
        <div class="btn-group">
            <a href="/main_page">Back to Main Page</a>
        </div>
</div>

    <script src="/scripts/lobby.js" type="module"></script>
</body>
</html>