<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memetics</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Handjet:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" id="login">
        <h2>Login</h2>
        <form id="login-form">
            <div>
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" required>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <p id="message" class="error"></p>
        <p><a href="/remind_password">Forgot Password?</a></p>
        <p>Don't have an account? <a href="/registration">Register here</a></p>
    </div>

    <script src="/scripts/login.js"></script>
</body>
</html>