<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memetics</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
     <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Handjet:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container" id="remind-container">
        <h2>Remind Password</h2>
        <p>Enter your email address and we will send you a new password😊</p>
        <form id="remind-password-form">
            <div>
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <button type="submit">Send New Password</button>
        </form>
        <p id="message" class="info"></p>
        <p><a href="/login">Back to Login</a></p>
    </div>

     <script src="/scripts/remind_password.js"></script>
</body>
</html>