<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Memetics</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
      <link href="https://fonts.googleapis.com/css2?family=Nixie+One&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Handjet:wght@100..900&display=swap" rel="stylesheet">
</head>
<body class="room-page">
    <div class="container" id="room-container">
        <h2>Room</h2>
        <label for="checkbox" style="display: inline">Friends-only</label>
        <input type="checkbox" id="checkbox">
        <label for="checkbox" style="display: inline">Random game</label>
        <p id="room-id-display"></p>
        <p id="room-message" class="info"></p>
        <div id="game-area">
        </div>
        <p><a href="/lobby">Back to Lobby</a></p>
        <button id="start_the_game" disabled>Start the game</button>
    </div>

    <script src="/scripts/room.js" type="module"></script>
</body>
</html>